@import url(https://googledrive.com/host/0BxjwQr0BBXs-MVlzYkRVc0k0Q0k);
@import url(https://rawgit.com/wileyyugioh/MAL-CSS/master/mal.css);

#mal_cs_links a {
    color: #000000 !important;
}

.animetitle:before {
    content: "";
    height: 0px;
    width: 0px;
    margin-left: 0;
    margin-top: 10px;
    display:inline-block !important;
    position: absolute;
    background-size: contain;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animetitle:hover:before {
    content: "";
    margin-left: 200px;
    margin-top: 10px;
    padding-right: 150px;
    padding-top: 220px !important;
    background-color: transparent;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    animation: fadein 1s;
}
